.navbar{
  @apply bg-twitch lg:h-16 text-white font-bold lg:flex items-center fixed w-full z-50 hidden;
}
.nav-ul{
  @apply h-full flex items-center justify-center space-x-4 px-6;

}

.nav-li a{
    @apply border-b-2 border-dotted border-opacity-0 border-white;
    &.active{
      @apply border-opacity-100;
    }
}

// search-base
.div-search{
  @apply bg-white rounded-md h-8;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);

  // search <form>
  .form-search{
    @apply text-almostBlack flex items-center h-full;

    // search <input>
    .input-search{
      @apply outline-none pl-2 w-72;
    }
    // search <img>
    .btn-submit .search-icon{
      @apply w-8 flex items-center;
    }
  }
}

//  =====MOBILE==========MOBILE=====MOBILE=====MOBILE=====MOBILE=====MOBILE  //
.navbarMbl{
 @apply bg-twitch w-full flex justify-between items-center top-8 right-8 h-12 px-3 lg:hidden;
}

.menuMbl{
  @apply bg-twitch text-white w-full absolute z-30 top-0 right-0 left-0 h-screen lg:hidden;
}
.menuMblOpen{
  @apply max-h-screen;
  transition: max-height 0.25s ease-in;
}
.menuMblClose{
  max-height: 0;
  transition: max-height 0.25s ease-in;
  overflow: hidden;
  background: #d5d5d5;
}